html
    head
        title nodejs-App
    body
        center
            h1 hola #{name}
            form(action="/", method="post")
                input#myname(type="text", name="myname" placeholder="Diego cisterna")
                br 
                br
                input(type="submit", value="Enviar")